<!--
  Edited by Daniel Lim on 4/22/20: changed label name
  Edited by Lang Xu on 4/22/20: added bootstrap styling
  Edited by Jas Bawa on 4/24/20: Changed Button styling
  Edited by Juhee Park on 4/24/20: Fixed bugs with dob input
-->
<div class = "text-center" style = "padding-top:0px">
<%= form_with(model: student, local: true,html:{class:'form-login'}) do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  

  <div class="field">
    <%= form.label :First_Name,class: "sr-only"%>
    <%= form.text_field :fname,class: 'form-control',placeholder: 'First Name',style: "margin-bottom: 15px" %>
  </div>

  <div class="field">
    <%= form.label :Last_Name,class: "sr-only" %>
    <%= form.text_field :lname,class: 'form-control',placeholder: 'Last Name',style: "margin-bottom: 15px" %>
  </div>

  <div class="field">
    <%= form.label :Email,class: "sr-only" %>
    <%= form.text_field :email,class: 'form-control',placeholder: 'Email Address',style: "margin-bottom: 15px" %>
  </div>

  <div class="field">
    <%= form.label :Password,class: "sr-only" %>
    <%= form.text_field :password,class: 'form-control',placeholder: 'Password',style: "margin-bottom: 15px" %>
  </div>

  <div class="field">
    <%= form.label :Phone_Number,class: "sr-only" %>
    <%= form.text_field :phone,class: 'form-control',placeholder: 'Phone #',style: "margin-bottom: 15px" %>
  </div>

  <div class="field">
    <%= form.label :Date_of_Birth, class:"",  style:"display: inline"%>:
    <%= form.text_field :dob, max: Date.today, class: 'form-control', id:"example-date-input", type:"date", style: "display: inline; margin-bottom: 15px;"%>
  </div>
  
  <div class="actions">
  <%= form.submit "Sign up as a new Student!",class: "btn btn-secondary"%>
  </div>
<% end %>
</div>
