<!--Edited 4/16/2020 by Jas Bawa: Edited form elements to match current Schema and what we want-->
<!--Edited 4/19/2020 by Jas Bawa: Added hidden fields for the student and property id-->
<!--Edited 4/19/2020 by Jas Bawa: Edited to fix review button placement-->
<!--Edited 4/22/20 by Jas Bawa: Added Bootstrap elements to form-->

<%= form_with(model: review, local: true) do |form| %>
  <% if review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :review %>
    <%= form.text_area :review, :class => "form-control"%>
  </div>

  <div class="field">
    <%= form.label :stars %>
    <%= form.number_field :stars, :max => "5", :min => "1", :value => "5", :class => "form-control" %>
  </div>

  <%= hidden_field_tag(:property_id, review.property_id) %>

  <%= hidden_field_tag(:student_id, current_student.id) %>

    <%= form.submit :class => "btn btn-success"%>
<% end %>
